[submodule "3rdparty/nativefiledialog"]
	path = 3rdparty/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "3rdparty/nativefiledialog-extended"]
	path = 3rdparty/nativefiledialog-extended
	url = https://github.com/nativefiledialog-extended.git
